@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SUSE';
}

.restartbar {
    width: 300px;
    height: 5px;
    border-radius: 20px;
    background-color: greenyellow;
    transition: width 5s;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 25px;
    padding: 25px;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    transition: background-color 0.25s;
}

#restart {
    position: absolute;
    top: 220px;
    right: 500px;
}

.container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: background-color 0.25s;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-decoration: none;
}

span {
    font-size: 10px;
}

.container > div:nth-child(1) {
    border-top-left-radius: 25px;
}

.container > div:nth-child(2) {
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.container > div:nth-child(3) {
    border-top-right-radius: 25px;
}

.container > div:nth-child(4) {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

.container > div:nth-child(5) {
    border: black solid 1px;
}

.container > div:nth-child(6) {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

.container > div:nth-child(7) {
    border-bottom-left-radius: 25px;
}

.container > div:nth-child(8) {
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.container > div:nth-child(9) {
    border-bottom-right-radius: 25px;
}

.red{
    background-color: rgba(255, 99, 99, 0.421);
}

.blue{
    background-color:rgba(0, 0, 255, 0.278);
}

#restart {
    margin-top: 15px;
    font-size: 50px;
    cursor: pointer;
    transition: rotate 0.25s;
}

.pontos > div {
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.X {
    color: blue;
}

.O {
    color: red;
}